:root {
    --spacing: 1rem;
    --radius: 10px;
    --dark: black;
    --light: white;
    --grey: #f0f3f7;
    --green: rgba(0, 203, 57, .8);
    --red: rgba(229, 34, 12, .8)
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 300px;
    font-family: sans-serif;
}

input, button {
    border: None;
    border-radius: var(--radius);
    padding: calc(var(--spacing) / 2);
}

input {
    background: var(--grey);
    font-weight: bold;
}

input:focus {
    outline: none;
    border: none;
}

button {
    background: var(--dark);
    color: var(--light);
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.form {
    width: 100%;
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 2);
}

label {
    font-weight: bold;
}